
body {
  margin: 0;
  text-align: center;
  color: : #66BFBF;
  font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
  background-color: rgb(240, 223, 170);
}

h1 {
  color:  #66BFBF;
  font-family: 'Great Vibes', cursive;
  font-size: 5.625rem;
  line-height: 2;
  margin: 2.65rem, auto, 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Merriweather', serif;
  color:  #11999E;
}

a {
  color:  #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: rgb(129, 19, 52);
}

p {
  line-height: 2;
}

li {
  display: block;
}

hr {
  border-color: #66BFBF;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
  margin: 100px, auto;
  }

.me {
  border-radius: 100%;
}

.top-container {
  background-color: #e4f9f5;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin 100px 0;
}

.bottom-container {
  background-color: rgb(144, 190, 190);
  margin-top: 50px;
  padding: 50px -0 20px;
}

.skill-row {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.intro {
  width: 30%;
  margin: auto;
}

.butn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright {
  font-family: 'Montserrat', sans-serif;
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

#prog {
  font-weight: normal;
}
